NODE_ENV=development
PORT=8080
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_DB_URL=
SUPABASE_DB_PASSWORD=
FCM_PROJECT_ID=
FCM_CLIENT_EMAIL=
FCM_PRIVATE_KEY=
CASHFREE_APP_ID=
CASHFREE_SECRET_KEY=
CASHFREE_WEBHOOK_SECRET=
MAPS_SERVER_KEY=
MSG91_AUTH_KEY=
MSG91_TEMPLATE_ID=
APP_ENCRYPTION_KEY=
SENTRY_DSN=
